name: Example Workflow

on:
  push:
    branches:
      - main

jobs:
  example-job:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
         ssh-key: ${{ secrets.PRIVATE_REPOSITORY }}
         repository: mosama90/two
    - name: ls
      run: cat test
 
